<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <a href="/create">Create a todo</a>
    <ul>
        {% if request.user.is_authenticated %}
        Hello, {{ request.user.username }}
        {% else %}
        Hello anonymous user
        {% endif %}
        {% for todo in todos %}
        <li><a href="/{{ todo.id }}">{{ todo.name }}, it's due {{ todo.due_date }}</a></li>
        {% endfor %}
    </ul>
</body>

</html>